/* Input */
.tpk-input-input {
  @apply mt-1 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 p-2 leading-3 block w-full sm:text-sm border-gray-300 rounded-md;
}

.tpk-input-label {
  @apply block text-sm font-semibold text-gray-700;
}

/* Textarea */
.tpk-textarea {
  @apply block text-sm font-medium text-gray-700;
}

.tpk-textarea-label {
  @apply font-semibold;
}

.tpk-textarea-input {
  @apply mt-1 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md;
}

/* Checkbox */
.tpk-checkbox {
  @apply inline-flex cursor-pointer items-center;
}

.tpk-checkbox-label {
  @apply ml-1;
}

.tpk-checkbox-input:checked::before {
  content: '\2713';
  color: #41b883;
  font-size: 22px;
  line-height: 0;
}

.tpk-checkbox-input {
  @apply appearance-none h-4 w-4 border-2 relative;
}

.tpk-checkbox-input::before {
  @apply block h-full w-full absolute;
}

/* File input */
.tpk-file-label {
  @apply block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300;
}

.tpk-file-input {
  @apply mt-1 shadow-sm bg-white focus:ring-indigo-500 focus:border-indigo-500  block w-full sm:text-sm border-gray-300 rounded-md;
}

.tpk-file-input::file-selector-button {
  @apply text-white bg-gray-700 hover:bg-gray-600 font-medium text-sm cursor-pointer border-0 py-2.5 pl-8 pr-4;
  margin-inline-start: -1rem;
  margin-inline-end: 1rem;
}
