.tpk-radio {
  padding-right: 20px;
  margin: 10px;
  width: 23%;
  border-bottom: 1px solid rgb(196, 137, 252);
}

.tpk-radio-label {
  color: rgb(78, 0, 151);
}

.tpk-validation-radio-group-label {
  font-size: 20px;
  color: rgb(151, 73, 0);
}

.tpk-validation-radio-group-group .tpk-radio {
  width: 20%;
  margin: 5px;
  padding-left: 5px;
  border-bottom: none;
  border-left: 1px solid rgb(196, 137, 252);
}
