.tpk-checkbox-container {
    @apply inline-flex cursor-pointer items-center;
}

.tpk-checkbox-container input {
    @apply appearance-none h-4 w-4 border-2 relative; 
}

.tpk-checkbox-container input::before {
    @apply block h-full w-full absolute ;
}

.tpk-checkbox-container input:checked::before {
    content: '\2713';
    color: #41B883;
    font-size:22px;
    line-height:0;
}