.tpk-select-create-container {
  @apply fieldset relative pb-4;
}

.tpk-select-create-container .tpk-select-create-label {
  @apply label;
}

.tpk-select-create-container .ember-basic-dropdown-trigger {
  @apply input  pr-10 !rounded-lg;
}

.tpk-select-create-dropdown {
  @apply flex flex-col rounded-box bg-base-100 py-2 pl-1.5 pr-2 shadow-sm min-w-52 max-h-60 overflow-y-auto;
  box-shadow:
    0 1px 3px 0 oklch(0% 0 0 / 0.1),
    0 1px 2px -1px oklch(0% 0 0 / 0.1);
}

.tpk-select-create-container
  .ember-basic-dropdown-trigger[aria-disabled='true'] {
  cursor: not-allowed;
  --tw-border-opacity: 1;
  border-color: var(--fallback-b2, oklch(var(--b2) / var(--tw-border-opacity)));
  --tw-bg-opacity: 1;
  background-color: var(--fallback-b2, oklch(var(--b2) / var(--tw-bg-opacity)));
  color: var(--fallback-bc, oklch(var(--bc) / 0.4));
}

.tpk-select-create-container .ember-power-select-placeholder {
  @apply text-neutral-500;
}

.tpk-select-create-container .ember-power-select-selected-item {
  @apply m-0 h-full flex items-center;
}

.tpk-select-create-container .ember-power-select-multiple-options {
  @apply h-full;
}

.tpk-select-create-container .ember-power-select-options {
  @apply mt-2;
}

.tpk-select-create-container .ember-power-select-option {
  @apply rounded-md grid grid-flow-col content-start items-center gap-2 pl-2 pr-2 py-1.5 text-start cursor-pointer outline-hidden;
  transition-property: color, background-color, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  grid-auto-columns: minmax(auto, max-content) auto max-content;
}

.tpk-select-create-dropdown .ember-power-select-option:hover {
  @apply bg-base-content/10;
  box-shadow:
    0 1px oklch(0% 0 0 / 0.01) inset,
    0 -1px oklch(100% 0 0 / 0.01) inset;
}

.tpk-select-create-dropdown .ember-power-select-option[aria-current='true'] {
  color: var(--menu-active-fg, var(--color-neutral-content));
  background-color: var(--menu-active-bg, var(--color-neutral));
}

.tpk-select-create-container .ember-power-select-placeholder {
  @apply ml-0;
}

.tpk-select-create-container .ember-power-select-search input {
  @apply input;
}

.tpk-select-create-container .ember-power-select-search input:focus-within {
  @apply outline-none;
}

.tpk-select-create-container .ember-basic-dropdown-content {
  @apply absolute mt-2.5 z-[100];
  max-width: 100%;
}

.tpk-select-create-container .ember-power-select-visually-hidden {
  height: 1px;
  left: -9999px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.tpk-select-create-container[data-has-error~='true'] .tpk-validation-errors {
  @apply text-error text-xs left-0 right-0 absolute w-full break-words;
  top: max(calc(100% - 1rem), 3rem);
}

.tpk-select-create-container[data-has-error~='true']
  .ember-basic-dropdown-trigger {
  @apply input-error text-error;
}

.tpk-select-create-container[data-has-error~='true'] .tpk-select-create-label {
  @apply text-error label;
}
