@import url("tailwindcss/base");
@import url("tailwindcss/components");
@import url("tailwindcss/utilities");
@import url("@eonasdan/tempus-dominus/dist/css/tempus-dominus.css");
@import url("ember-power-select/vendor/ember-power-select.css");
@import url("@triptyk/ember-input-validation/dist/app.css");
@import url("@triptyk/ember-input/dist/app.css");
@import url("@triptyk/ember-ui/dist/app.css");
@import url("ember-input-validation/form.css");

.next,
.previous {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  display: block;
  width: 1em;
  height: 1em;
  mask-size: contain;
}

.ember-power-select-options,
.ember-power-select-options li,
.ember-power-select-multiple-options,
.ember-power-select-multiple-options li {
  margin-bottom: 0 !important;
}
